{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "overrides": {
    "files": [ "test/**.js"],
    "rules": {
      "import/no-extraneous-dependencies": "off",
      "no-console": "off"
    }
  },
  "rules": {
    "react/jsx-wrap-multilines": "off",
    "react/jsx-filename-extension": 0,
    "react/require-default-props": "off",
    "react/destructuring-assignment": "off",
    "react/default-props-match-prop-types": [ "error", { "allowRequiredDefaults": true } ],
    "react/no-unused-state": "off",
    "no-bitwise": 0,        
    "linebreak-style": "off",
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "global-require": "off",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    "no-plusplus": "off",
    "arrow-parens": ["warn", "as-needed"],
    "import/no-named-as-default": "off",
    "no-confusing-arrow": "off",
    "no-else-return": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "babel/no-unused-expressions": "off",
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "prefer-arrow-callback": [ "error", { "allowNamedFunctions": true } ],
    "import/no-named-default": "off",
    "import/no-dynamic-require": "off",
    "arrow-body-style": "off",
    "no-multi-assign": "off",
    "no-lonely-if": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-return-assign": "warn",
    "no-mixed-operators": "warn",
    "max-len": "off",
    "semi": "off"
  }
}
